# Deno artifacts and dependencies
.deno_dir/
build/
dist/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.*
!.env.example

# Editor-specific overrides
biome.json
.vscode/
.zed/
.idea/

# Generated client bundle
static/islands.js
static/islands.js.map
